.login {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form {
    background-color: #7d1c00;
    padding: 4rem;
    border: 1px solid black;
    border-radius: .675rem;
}

.input-field {
    margin: 0 0 0.5em 0;
    border-radius: 0.65rem;
    border: 2px solid black;
}

.input-field input {
    padding: 0.8em;
    outline: none;
    background-color: transparent;
    width: 100%;
    border: none;
}
